<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />

        <meta name="description" content="template">
        <meta property="og:type" content="article">
        <meta property="og:title" content="template website">
        <meta property="og:description" content="This is a website template">
        <meta property="og:url" content="http://template.domain.com">
        <meta property="og:image" content="http://template.domain.com/icons/launcher-icon-4x.png">

        <base href="/">

        <title>myTerminal</title>
    </head>

    <body>
        <div class="terminal"></div>
        <div class="window-container">
            <div class="window">
                <div class="title-bar">
                    <span class="button one">&nbsp;</span>
                    <span class="button two">&nbsp;</span>
                    <span class="button three">&nbsp;</span>
                    <span class="text">
                        Terminal
                    </span>
                </div>
                <div class="frame"></div>
            </div>
        </div>
        <div class="logo">
            <span class="prompt">&gt;</span><span class="name"></span><span class="cursor"></span>
        </div>
    </body>
</html>
